# Database Configuration
MONGODB_URI=mongodb://user:password@localhost:port/db_name

# JWT Configuration
JWT_SECRET=YOUR_KEY

# Redis Configuration
REDIS_URL=redis://default:YOUR_REDIS_PASSWORD@YOUR_REDIS_HOST:PORT

# Application Configuration
PORT=3000
NODE_ENV=development
